* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: salmon;
}

#buttons{
    display: flex;
    justify-content: center;    
}

button {
    font: 30px helvetica;
    color: white;
    background-color: rgb(71, 155, 228);
    border-width: 0px;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
}

.container {
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    border: 4px solid   rgb(205, 90, 90);
    display: flex;
    flex-direction: column;
    flex: 1
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .column {
    flex: 1;
    border: 0.1px solid black;
    background-color: white;
  }

  .noBorder {
    border: 0.1px solid white
  }
  
